:80 {
  respond / `available services:
/core-services/core-app1/
/core-services/core-app2/
/dip-services/dip-app1/
/dip-services/dip-app2/
/router/router-app/
` 200

  redir /core-services/core-app1 /core-services/core-app1/ 301
  handle_path /core-services/core-app1/* {
    reverse_proxy core-app1:80
  }

  redir /core-services/core-app2 /core-services/core-app2/ 301
  handle_path /core-services/core-app2/* {
    reverse_proxy core-app2:80
  }

  redir /dip-services/dip-app1 /dip-services/dip-app1/ 301
  handle_path /dip-services/dip-app1/* {
    reverse_proxy dip-app1:80
  }

  redir /dip-services/dip-app2 /dip-services/dip-app2/ 301
  handle_path /dip-services/dip-app2/* {
    reverse_proxy dip-app2:80
  }

  # 自动移除前缀
  handle_path /router/strip/* {
    reverse_proxy router-app:80
  }

  # 保留前缀
  handle /router/retain/* {
    reverse_proxy router-app:80
  }
}
