:80 {
  respond / `available services:
/core-services/core-app1/
/core-services/core-app2/
/api/dip-api/
/dip/
` 200

  redir /core-services/core-app1 /core-services/core-app1/ 301
  handle_path /core-services/core-app1/* {
    reverse_proxy core-app1:80
  }

  redir /core-services/core-app2 /core-services/core-app2/ 301
  handle_path /core-services/core-app2/* {
    reverse_proxy core-app2:80
  }

  handle /api/dip-api/* {
    reverse_proxy dip-api:80
  }

  redir /dip /dip/ 301
  handle /dip/* {
    reverse_proxy dip-web:80
  }
}
